# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
*.orig.*

# native
ios/
android/
*.ipa
*.apk

# env / secrets
.env*.local
.env

# macOS
.DS_Store

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
